* {
  margin: 0;
  padding: 0;
}

.heading {
  background-color: grey;
}

.main {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: grey;
  height: 500px;
  background-repeat: no-repeat;
}
